.nav{
        width: 110px;
        background: #fff;
        transform: skewY(-10deg);
        padding: 30px 10px;
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
       
      }
nav a:hover{
    text-decoration: none;
    background-color: gray;
    border-radius: 20%;
    width: 5px;

}
      
.navbar{
        transform: skewY(10deg);  /* cancels the parent skew to make text normal */
        display: flex;
        flex-direction: column;
        gap: 50px;
        writing-mode: vertical-rl;
        transform-origin: center;

      }
.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    top: 220px;
}

body,.nav{
    background-color: lightgrey;
}
.tag1{
    background:rgb(125,134,215);
    width: 500px;
    height: 600px;
 }
div{
    display: flex;
    
}
.tag1{
    position: relative;
    top: 150px;
    border-radius: 10%;
    right: 70px;
}
.tag2{
    background-color: beige;
    width: 500px;
    height: 350px;
    border-radius: 30px;
    position: relative;
    top: 150px;
}
.tag3{
    display:inline-block;
    width: 120px;
    height: 350px;
    border-radius: 30px;
    position: relative;
    top: 150px;
    left: 70px;
    box-shadow: 0 4px 8px;
    opacity: 0.1;
}
.tag0{
    padding: 20px;
    text-align: center;
}
.tag4{
    background-color: lightsteelblue;
    height: 135px;
}
.tag5{
    background-color: purple;
    height: 134px;
}
.tag6{
    background-color: darkgrey;
    height: 148px;
    width: 250px;
    border-radius: 20px;
    position: relative;
    top: 600px;
    right: 620px;
}
/* .tag5:hover{
    transform: translateY(10px); */

.tag6:hover{
  transform: translateY(10px);
}
/* .tag4:hover{
    transform: translateX(10px)
} */
/* .class{
    background-color: whitesmoke;
    height: 1052px;
} */
/* .tag,.nav{
    background-color: white;
} */
